<nz-table
class="tableItem"
#rowSelectionTable
nzShowSizeChanger
[nzData]="listOfData"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
[nzScroll]="{ y: '260px' }"
>
<thead>
  <tr>
    <th
    nzWidth="80px"
    [nzSelections]="listOfSelection"
    [(nzChecked)]="checked"
    [nzIndeterminate]="indeterminate"
    (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th *ngFor="let key of tableAttributes[0].keys">{{key}}</th>
  </tr>
</thead>
<tbody>
  <div *ngIf="tableAttributes[0].keys.length === 0" class="example">
    <nz-spin nzSimple></nz-spin>
  </div>
  <tr *ngFor="let data of tableAttributes[1].values">
    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td *ngFor="let key of nameKeys">{{data[key]}}</td>
    <td class="actionItems">
      <span *ngFor="let action of tableAttributes[2].actions" nz-icon nzType="{{action}}" nzTheme="outline"><span *ngIf="action === 'delete'">  |</span></span>
  </tr>
</tbody>
</nz-table>
