<nz-table
class="tableItem"
#rowSelectionTable
nzShowSizeChanger
[nzData]="listOfData"
(nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
[nzScroll]="{ y: '260px', x: '1100px' }"
>
<thead>
  <tr>
    <th
    nzWidth="80px"
    [nzSelections]="listOfSelection"
    [(nzChecked)]="checked"
    [nzIndeterminate]="indeterminate"
    (nzCheckedChange)="onAllChecked($event)"
    ></th>
    <th *ngFor="let key of tableAttributes[0].keys">{{key}}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let data of tableAttributes[1].values">
    <td *ngFor="let key of nameKeys">
      <table *ngIf="key === '_id'">
        <td [nzChecked]="setOfCheckedId.has(data[key])" (nzCheckedChange)="onItemChecked(data[key], $event)"></td>
      </table>
      <img class="imgIcon" *ngIf="key === 'imgUrl' && key !== '_id'" src="{{data[key]}}" >
      <p *ngIf="key !== 'imgUrl' && key !== '_id'">{{data[key]}}</p>
    </td>
    <td class="actionItems">
      <span *ngFor="let action of tableAttributes[2].actions" nz-icon nzType="{{action}}" nzTheme="outline"><span *ngIf="action === 'delete'">  |</span></span>
  </tr>
</tbody>
</nz-table>
